При использовании шифрвоания оригинальный файл будет удален послк успешного шифрования
USE_ENCRYPTO=true - использовать шифрование, иначе что ниже не нужно указывать
PATH_PUBLIC_KEY_ENCRYPTO=путь к публичному ключу