NAME_DOCKER_CONTAINER_POSTGRES = имя вашего контейнера postgres
USER_NAME_POSTGRES = имя пользователя postgres
NAME_DB_POSTGRES = имя базы данных
DESCRIPTION_DB= от какого сервиса БД? будет использовать в имени файла