USER_NAME_POSTGRES = имя пользователя postgres
NAME_DB_POSTGRES = имя базы данных
USER_DOCKER_POSTGRES = true - сделать бэкап из docker-контейнера, false - бэкап из локального сервера

Указать если USER_DOCKER_POSTGRES == true
NAME_DOCKER_CONTAINER_POSTGRES = имя вашего контейнера postgres

HOST_POSTGRES=хост локального сервера/в контейнере posgresql по-умолчанию 'localhost'
PORT_POSTGRES=порт локального сервера/в контейнере posgresql по-умолчанию '5432'
DESCRIPTION_DB= от какого сервиса БД? будет использовать в имени файла